@font-face {
	font-family: "Segoe UI";
	src: url(segoeui.ttf) format("truetype");
}

@import url(cascadia.ttf);

.alert-danger{
	color: white;
	background-color: #DA0B50;
	border-width: 0px;
	border-radius: 5px;
}

.alert-warning{
	color: white;
	background-color: #FF9E1F;
	border-width: 0px;
	border-radius: 5px;
}

.alert-success{
	color: white;
	background-color: #30ca54;
	border-width: 0px;
	border-radius: 5px;
}

.alert-tip{
	color: white;
	background-color: #2c93c4;
	border-width: 0px;
	border-radius: 5px;
}

.badge-warning{
	color: rgb(255, 255, 255);
	background-color: rgb(255, 158, 31);
}

.link{
	color: rgb(100, 194, 152);
}

.purple-grey{
	background-color: #2F323A;
}

.pill-text{
	color: white;
}

.muted{
	color: rgb(209, 209, 209);
}

.para a{
	color: rgb(100, 194, 152);
}

.para a:hover{
	color: rgb(89, 177, 137);
	text-decoration: underline;
}

code{
	color: rgb(224, 224, 224);
	font-family: 'Cascadia Code';
	background-color: #25293A;
	padding: 4px;
	border-radius: 2px;
}

h2{
	margin-left: 70px;
}

hr{
	margin-left: -2%;
	margin-right: 3%;
	background-color: #59507A;
}

.para{
	color: rgb(224, 224, 224);
	margin-left: 5%;
}

.page-link.active{
	color: white;
	background-color: #59507A;
}

.page-link:hover{
	color: rgb(221, 221, 221);
	background-color: rgb(82, 73, 112);
	border-color: rgb(73, 66, 100);
}

.page-link{
	color: white;
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
	border-color: #59507A;
}

.page-item.disabled a.page-link{
	color: white;
	background-color: rgba(0,0,0,0);
	border-radius: 1px;
	border-color: rgb(73, 66, 100);
}

.c-button{
	color: white;
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
	border-color: #59507A;
}

.c-button:hover{
	color: rgb(221, 221, 221);
	background-color: rgb(82, 73, 112);
	border-color: rgb(73, 66, 100);
}

.sidebar {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #2F323A;
	border-right: 2px solid rgb(73, 66, 100);
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sidebar-sub{
	text-align: center;
	color: white;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover{
	text-decoration: underline;
}

.sidebar li a{
	text-transform: uppercase;
	font-size: 19px;
	padding-left: 10px;
	border-bottom: 1px solid #59507A;
}

.sidebar li ul li a{
	font-size: 15px;
	padding-left: 30px;
	border: 0px;
}

#main {
	overflow-x: hidden;
	margin-left: 250px;
	transition: margin-left .5s;
	padding: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 19px;
	color: white;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}
  
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
	display: none;
	padding-left: 8px;
}

.active.dropdown-container{
	display: block;
	padding-left: 8px;
}

.dropdown-container a{
	font-size: 15px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
	float: right;
	padding-right: 8px;
}

@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}