@font-face {
	font-family: "Segoe UI";
	src: url(segoeui.ttf) format("truetype");
}

.badge-warning{
	color: rgb(255, 255, 255);
	background-color: rgb(255, 158, 31);
}

.purple-grey{
	background-color: #2F323A;
}

.pill-text{
	color: white;
}

.muted{
	color: rgb(209, 209, 209);
}

.link{
	color: rgb(100, 194, 152);
}

.link:hover{
	color: rgb(89, 177, 137);
	text-decoration: underline;
}

h1{
	text-transform: uppercase;
	margin-left: 100px;
}

hr{
	margin-left: -2%;
	margin-right: 3%;
	background-color: #59507A;
}

.para{
	margin-left: 5%;
}

.page-link.active{
	color: white;
	background-color: #59507A;
}

.page-link:hover{
	color: rgb(221, 221, 221);
	background-color: rgb(82, 73, 112);
	border-color: rgb(73, 66, 100);
}

.page-link{
	color: white;
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
	border-color: #59507A;
}

.page-item.disabled a.page-link{
	color: white;
	background-color: rgba(0,0,0,0);
	border-radius: 1px;
	border-color: rgb(73, 66, 100);
}

.c-button{
	color: white;
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
	border-color: #59507A;
}

.c-button:hover{
	color: rgb(221, 221, 221);
	background-color: rgb(82, 73, 112);
	border-color: rgb(73, 66, 100);
}

.sidebar {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #2F323A;
	border-right: 2px solid rgb(73, 66, 100);
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sidebar-h{
	color: white;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover{
	text-decoration: underline;
}

.sidebar li a{
	text-transform: uppercase;
	font-size: 19px;
	padding-left: 10px;
	border-bottom: 1px solid #59507A;
}

.sidebar li ul li a{
	font-size: 15px;
	padding-left: 30px;
	border: 0px;
}

#main {
	margin-left: 250px;
	transition: margin-left .5s;
	padding: 20px;
}

@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}